/* .App {
  background-color: #FAFAFA;
  color: red;
  padding: 40px;
}

.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.list {
  margin: 20px 0;
}

.list-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
} */

.segment-floated {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%)
}

.segment-floated-button-group {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-5%, -50%);
  /* margin: 1rem 0; */
}

.c-edit-head {
  background-color: #2c3e50;
}
